:root {
  --color-bg: #0f0f0f;
  --color-bg-overlay: #1f1f1f;
  --color-fg: #f2f2f0;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: monospace;
}

main {
  padding: 1em;
  margin: 1em;
}

a {
  color: #b4befe;
}

/* Log-related styling */
thead {
  font-weight: bold;
}

.log td {
  white-space: pre;
  width: 33% !important;
  padding: 0;
  margin: 0;
}

.log tbody tr:nth-child(odd) {
  background: var(--color-bg-overlay);
}

/* Tree-related styling */
.tree tbody tr:nth-child(odd) {
  background: var(--color-bg-overlay);
}

.tree tbody tr td {
  padding: 0;
  margin: 0;
}

/* Header styling */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  padding-right: 10%;
}

/* File content styling */
.contents {
  background: var(--color-bg-overlay);
  padding: 1em;
  overflow: scroll;
}
