:root {
  --color-bg: #0f0f0f;
  --color-bg-overlay: #1f1f1f;
  --color-fg: #f2f2f0;
}

html, body {
  background: var(--color-bg);
  color: var(--color-fg);
  font-family: monospace;
}

main {
  padding: 1em;
  margin: 1em;
}

a {
  color: #b4befe;
}

thead {
  font-weight: bold;
}

td {
  white-space: pre;
  width: 33% !important;
}

.log tbody tr:nth-child(odd) {
  background: var(--color-bg-overlay);
}
