{{ define "header" }}
<header>
  <h1>
    <a href="/">depogit</a>
    -
    <a href="/{{ .Name }}">{{ .Name }}</a>
  </h1>

  <nav>
    <ul>
      <li>
        <a href="/{{ .Name }}">overview</a>
      </li>
      <li>
        <a href="/{{ .Name }}/log">log</a>
      </li>
      <li>
        <a href="/{{ .Name }}/tree/HEAD">tree</a>
      </li>
    </ul>
  </nav>
</header>
<br />
{{ end }}
