{{ define "head" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="icon" type="image/png" href="/static/icon.png">

    <!-- Primary Meta Tags -->
    <meta name="description" content="A minimal, pretty git repository web frontend.">
    <meta name="keywords" content="git,web,frontend,interface,code,programming,coding">
    <meta name="robots" content="index,follow">
    
    <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:title" content="depogit">
    <meta property="og:description" content="A minimal Git repository web interface.">
    <meta property="og:url" content="https://codeberg.org/Kaamkiya/depogit">
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="depogit">
    <meta name="twitter:description" content="A minimal, pretty git repository web frontend.">
    <meta name="twitter:image" content="https://codeberg.org/Kaamkiya/depogit/raw/branch/main/icon.png">

{{ end }}
