{{ define "index" }}
    {{ template "head" .}}
    <title>depogit</title>
  </head>
  <body>
    <h1><a href="/">depogit</a></h1>
    <main>
      <ul>
        {{ range . }}
          <li><a href="/{{ .Name }}">{{ .Name }}</a> - {{ .Time }}</li>
        {{ end }}
      </ul>
    </main>
  </body>
</html>
{{ end }}
