<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ .Name }} - depogit</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <ul>
      {{ range .Commits }}
        <li>
          {{ .Message }} -
          {{ .Time }} -
          <span style="color:green">+{{ .LinesAdded }}</span>/<span style="color:red">-{{ .LinesRemoved }}</span>
        </li>
      {{ end }}
    </ul>
  </body>
</html>
