{{ define "tree" }}
    {{ template "head" . }}
    <title>{{ .Name }} - depogit</title>
  </head>
  <body>
    {{ template "header" . }}

    <main>
      <table class="tree">
        <thead>
          <tr>
            <td>Mode</td>
            <td>Name</td>
          </tr>
        </thead>
        <tbody>
          {{ $repoName := .Name }}
          {{ $parent := .Parent }}
          {{ $ref := .Ref }}
          {{ range .Files }}
            <tr>
              <td>{{ .Mode.ToOSFileMode }}</td>
              <td>
                {{ if .Mode.IsFile }}
                  <a href="/{{ $repoName }}/file/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}</a>
                {{ else }}
                  <a href="/{{ $repoName }}/tree/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}</a>
                {{ end }}
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </main>
  </body>
</html>
{{ end }}
