{{ define "repo_log" }}
    {{ template "head" . }}
    <title>{{ .Name }} - depogit</title>
  </head>
  <body>
    <h1><a href="/">depogit</a></h1>

    <main>
      <table class="log">
        <thead>
          <tr>
            <td>Commit message</td>
            <td>Time</td>
            <td>Author</td>
          </tr>
        </thead>
        <tbody>
          {{ range .Commits }}
            <tr>
              <td><pre>{{ .Message }}</pre></td>
              <td>{{ .Author.When.Format "2006/01/02 15:04:05" }}</td>
              <td><a href="mailto:{{ .Author.Email }}">{{ .Author.Name }}</a></td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </main>
  </body>
</html>
{{ end }}
