<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ .Name }} - depogit</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
  </head>
  <body>
    <h1><a href="/">depogit</a></h1>

    <main>
      <table class="tree">
        <thead>
          <tr>
            <td>Mode</td>
            <td>Name</td>
          </tr>
        </thead>
        <tbody>
          {{ $repoName := .Name }}
          {{ $parent := .Parent }}
          {{ $ref := .Ref }}
          {{ range .Files }}
            <tr>
              <td>{{ .Mode.ToOSFileMode }}</td>
              <td>
                {{ if .Mode.IsFile }}
                  <a href="/{{ $repoName }}/file/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}</a>
                {{ else }}
                  <a href="/{{ $repoName }}/tree/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}</a>
                {{ end }}
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </main>
  </body>
</html>
