{{ define "repo_file" }}
    {{ template "head" . }}
    <title>{{ .name }} - depogit</title>
  </head>
  <body>
    {{ template "header" . }}

    <main>
      <pre class="contents">
{{ .contents }}
      </pre>
    </main>
  </body>
</html>
{{ end }}
